{% extends 'AppBundle::base.html.twig' %}

{% block content %}
    <div id="characteristics" data-characteristics="{{ characteristics|serialize('json', contextFactory.context) }}"
         data-attributes="{{ attributes|serialize('json', contextFactory.context) }}"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/characteristics.js') }}"></script>
{% endblock %}
